In [4]:
import pandas as pd

df = pd.read_excel('data/환율-20180914.xls', index_col='통화명')
df.head()

                 매매기준율  현찰 - 사실 때  현찰 - 파실 때  송금 - 보내실 때  송금 - 받으실 때  미화환산율
통화명
미국 USD         1122.50    1142.14    1102.86     1133.50     1111.50  1.000
유럽연합 EUR       1304.23    1330.18    1278.28     1317.27     1291.19  1.162
일본 JPY (100엔)  1007.22    1024.84     989.60     1017.09      997.35  0.897
중국 CNY          163.96     172.15     155.77      165.59      162.33  0.146
홍콩 HKD          143.02     145.83     140.21      144.45      141.59  0.127

In [ ]:
# 한글 폰트 설정
%matplotlib inline
from matplotlib import rc
from matplotlib import pyplot as plt
plt.rcParams['axes.unicode_minus'] = False
rc('font', family= 'Malgun Gothic')  #window일 경우
#rc('font',family='AppleGothic') Mac일 경우

df2 = df.sort_values('송금 - 보내실 때', ascending = True)    # 지정 빌드 오름차순 정렬

# 지정 2개 컬럼에 대한 가로형 막대그래프를 10인치 * 10인치 크기로 그린다.
df2[['송금 - 보내실 때', '송금 - 받으실 때']].plot(kind='barh', figsize = (10, 10))

In [ ]:
2 ** 100