# 데이터 유형과 자료형

#### A. 데이터 유형
    - 숫자형(Numeric), 문자열(String), 논리형 (Boolean)
 
#### B. 자료형 
    - 리스트(list), 튜플(Tuple), 집합(Set), 딕셔너리(Dictionary)
    
#### C. 변수
    - 변수

## A. 데이터 유형
    - 숫자형(Numeric) : integer, float, complex, 8진수, 16진수 등
    - 문자열(String) : 문자열 표현법, 인덱싱, 슬라이싱 등
    - 논리형 (Boolean)
    
### A.1 숫자형
    * 점프 투 파이썬 코드 참조

In [2]:
# 정수형
a = 123
print(a)
type(a)

123

int

In [3]:
a = -178
print(a)
type(a)

-178

int

In [ ]:
# 실수형 (Floating-point)

In [4]:
a = 1.2
print(a)
type(a)

1.2

float

In [5]:
a = -3.45
print(a)
type(a)

-3.45

float

In [6]:
# 실수형의 소수점 표현방식
a = 4.24E10
print(a)
type(a)

42400000000.0

float

In [7]:
a = 4.24e-10
print(a)
type(a)

4.24e-10

float

In [9]:
# 8진수 (Octal) - 0o (숫자 0 + 알파벳 소문자 o 또는 대문자 O)
a = 0o177
print(a)
type(a)

127

int

In [11]:
# 16진수 (Hexadecimal) - 0x (숫자 0 + 알파벳 소문자 x 또는 대문자 X)
a = 0x8ff
print(a)
print(type(a))

b = 0xABC
print(b)
print(type(b))

2303
<class 'int'>
2748
<class 'int'>

### A.2 숫자형을 활용하기 위한 연산자

In [12]:
a = 3
b = 4
a + b

7

In [13]:
a * b

12

In [14]:
a / b

0.75

In [15]:
# 제곱 **
a ** b

81

In [19]:
# 나눗셈 나머지 %
7 % 3

1

In [20]:
3 % 7

3

In [22]:
# 나숫셈 몫  //
7 // 3

2

In [23]:
3 // 7

0

### A.3 문자열

In [25]:
# 문자열: 큰따옴표 "", 작은따옴표 '', 큰따옴표 3개 """ """, 작은따옴표 3개 ''' '''
a = "Hello World!"
print(a)
type(a)

Hello World!

str

In [26]:
a = 'Python is fun!'
print(a)
type(a)

Python is fun!

str

In [27]:
# 문자열에 작은따옴표 (') 포함시키기
a = "Python's favorite food is perl"
print(a)
type(a)

Python's favorite food is perl

str

In [28]:
a = '"Python is very easy." he says.'
print(a)
type(a)

"Python is very easy." he says.

str

In [29]:
# 백슬래시(\)를 사용해서 작은따옴표(')와 큰따옴표(")를 문자열에 포함시키기
a = 'Python\'s favorite food is perl'
print(a)

Python's favorite food is perl

str

In [30]:
a = "\"Python is very easy.\" he says."
print(a)

"Python is very easy." he says.

str

In [33]:
# 여러 줄인 문자열을 변수에 대입하고 싶을 때
a = "Life is too short\nYou need python"
print(a)
b = """
Life is too short
You need python
"""
print(b)
c = '''
Life is too short
You need python
'''
print(c)

Life is too short
You need python

Life is too short
You need python


Life is too short
You need python

![이스케이프 코드](./images/EscapeCode.png)
* 출처: 점프 투 파이썬

### A.4 문자열 연산하기

In [34]:
# 문자열 더해서 연결하기(Concatenation)
a = "Python"
b = " is fun!"
a + b

'Python is fun!'

In [35]:
# 문자열 곱하기
a * 2

'PythonPython'

In [36]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [37]:
# 문자열 길이 구하기 
a = "Life is too short"
len(a)

17

In [40]:
# 문자열 인덱싱(Indexing)
a = "Life is too short, You need Python"

# Life is too short, You need Python
# 0         1         2         3 
# 0123456789012345678901234567890123

# "파이썬은 0부터 숫자를 센다."
# a[0]:'L', a[1]:'i', a[2]:'f', a[3]:'e', a[4]:' ', ...

print(a[3])
print(a[21])

b = a[0] + a[1] + a[2] + a[3]
print(b)

e
u
Life

In [39]:
print(a[-0])
print(a[-2])
print(a[-5])

L
o
y

In [42]:
# 문자열 슬라이싱(Slicing)
print(a[0:3])     #  0 <= a <  3
print(a[12:17])   # 12 <= a < 17

Lif
short

In [43]:
print(a[19:])
print(a[:17])

You need Python
Life is too short

In [44]:
print(a[:])
print(a[19:-7])

Life is too short, You need Python
You need

In [45]:
# 슬라이싱으로 문자열 나누기
a = "20200901Rainy"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20200901
Rainy

In [51]:
year = a[:4]
month = a[4:6]
day = a[6:8]
print(year, '-', month, '-', day, sep="")
print("{}-{}-{}".format(year, month, day))
print("{2}-{1}-{0}".format(day, month, year))

2020-09-01
2020-09-01
2020-09-01

In [52]:
# 문자열 포맷팅 (Formatting)
print("I eat %d apples." % 3)

I eat 3 apples.

In [53]:
"I eat %s apples." % "five"

'I eat five apples.'

In [54]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [55]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

* 문자열 포맷 (출처: 점프 투 파이썬)

![문자 포맷](./images/StringFormat.png)

In [56]:
# %s 포맷 : 어떤 형태의 값도 넣을 수 있음
print("I have %s apples" % 3)
print("Rate is %s" % 3.234)

I have 3 apples
Rate is 3.234

In [57]:
# 포매팅 연산자 %d와 %를 같이 쓸 때는 %%로 사용
"Error is %d%." % 98

ValueError: incomplete format

In [58]:
"Error is %d%%." % 98

'Error is 98%.'

In [59]:
# 문자열 정렬, 숫자 포맷
print("%10s" % "hi")
print("%-10sjane." % 'hi')

        hi
hi        jane.

In [60]:
print("%0.4f" % 3.42134234)
print("%10.4f" % 3.42134234)

3.4213
    3.4213

### A.5 문자열 관련 함수

In [61]:
# 문자 개수 세기(count)
a = "hobby"
a.count('b')

2

In [63]:
# 위치 알려주기 1 (find)
a = "Python is the best choice"
print(a.find('b'))   # 첫번째 위치 반환
print(a.find('k'))   # 없으면 -1

14
-1

In [65]:
# 위치 알려주기 2 (index)
a = "Life is too short"
print(a.index('t'))
print(a.index('k'))   # 없으면 에러 남

8

ValueError: substring not found

In [68]:
# 문자열 삽입(join)
print(",".join('abcd'))
print(",".join(['a', 'b', 'c', 'd']))

a,b,c,d
a,b,c,d

In [69]:
# 소문자를 대문자로 바꾸기(upper), 대문자를 소문자로 바꾸기(lower)
a = "Hi"
print(a.upper())
print(a.lower())

HI
hi

In [70]:
# 공백 지우기 : 왼쪽 lstrip, 오른쪽 rstrip, 양쪽 strip
a = " hi "
print(a.lstrip())
print(a.rstrip())
print(a.strip())

hi
 hi
hi

In [71]:
# 문자열 나누기(split)
a = "Life is too short"
print(a.split())
b = "a:b:c:d"
print(b.split(':'))

['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']

### A.6 논리형 (Boolean)

In [22]:
a = True
b = False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [23]:
1 == 1

True

In [24]:
2 > 1

True

In [25]:
2 < 1

False

* 중요 - 자료형의 참과 거짓  (참조: 점프 투 파이썬)

![자료형 참과 거짓](./images/BooleanType.png)

In [27]:
if []:
    print("참")
else:
    print("거짓")

거짓

In [28]:
if [1, 2, 3]:
    print("참")
else:
    print("거짓")

참

In [29]:
bool('python')

True

In [30]:
bool('')

False

In [31]:
bool([1,2,3])

True

In [32]:
bool([])

False

In [33]:
bool(0)

False

In [34]:
bool(3)

True

## B. 자료형 
    - 리스트(list)
    - 튜플(Tuple)
    - 집합(Set)
    - 딕셔너리(Dictionary)

### B.1 리스트(list)

In [72]:
# 다양한 리스트 형식
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [74]:
a = [1, 2, 3, 4]             # 리스트 생성
print(a)                     # 리스트 인덱싱
print(a[2:])

[1, 2, 3, 4]
[3, 4]

In [75]:
a[0] = 100                   # 리스트 항목 변경
a

[100, 2, 3, 4]

In [76]:
a.append(8)                  # 리스트 항목 추가
a

[100, 2, 3, 4, 8]

In [77]:
a.remove(100)                 # 리스트 항목 제거
a

[2, 3, 4, 8]

In [78]:
a.insert(1, 100)              # 리스트 항목 삽입
a

[2, 100, 3, 4, 8]

In [79]:
a.pop(1)                      # 1번째 index 항목 추출

100

In [80]:
a                             # pop 사용 후 리스트 항목

[2, 3, 4, 8]

#### B.1.1 리스트 인덱싱

In [81]:
a = [4, 6, 1, 9]               # 리스트 생성

In [82]:
a[1:3]

[6, 1]

In [83]:
a[:3]

[4, 6, 1]

In [84]:
a[:-2]

[4, 6]

In [85]:
a[:]

[4, 6, 1, 9]

In [97]:
# 이중 리스트에서 인덱싱
a = [1, 2, 3, ['a', 'b', 'c']]
a[0]

1

In [98]:
print(a[-1])
print(a[3])

['a', 'b', 'c']
['a', 'b', 'c']

In [100]:
a[-1][0]

'a'

In [101]:
a[3][1]

'b'

In [96]:
# 삼중 리스트에서 인덱싱
a = [1, 2, ['a', 'b', ['Life', 'is']]]
a[2][2][0]

'Life'

#### B.1.2 리스트 연산하기

In [109]:
a = [1, 2, 3]               # 리스트 생성 
b = [4, 5, 6]               # 리스트 생성
c = a + b                   # 두 리스트를 합쳐 새로우 리스트 생성
c

[1, 2, 3, 4, 5, 6]

In [110]:
a * 3                       # 리스트 반복하기

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [111]:
len(a)                      # 리스트 길이구하기

3

In [103]:
a.extend(b)                 # 리스트 확장(기존 리스트에 새로운 값 추가)
type(a)                     # 데이터 타입 확인
print(a)

[1, 2, 3, 4, 5, 6]

In [104]:
a = [1, 2, 3, 4]            # 리스트 생성
del a[0]                    # 리스트 0번 항목 제거
a

[2, 3, 4]

In [105]:
del a[1:3]                  # 리스트 1~3번 항목 제거
a

[2]

In [106]:
del a[:]                    # 리스트 전체 제거(공간 존재)
a

[]

In [107]:
del a                       # 리스트 전체 제거
a                           # 위에서 변수명이 제거 되었으므로 오류 Error 발생

NameError: name 'a' is not defined

In [112]:
a = [1, 4, 3, 2]
a.sort()                   # 리스트 정렬 (sort)
a

[1, 2, 3, 4]

In [113]:
a.reverse()                # 리스트 뒤집기(reverse)
a

[4, 3, 2, 1]

### B.2. 튜플(Tuple)

#### B.2.1 튜플 생성하기

In [1]:
tuple1 = (1, 2, 3, 4)       # 튜플 생성 방법1
tuple1

(1, 2, 3, 4)

In [2]:
tuple2 = 1, 2, 3, 4         # 튜플 생성 방법2
tuple2

(1, 2, 3, 4)

In [3]:
tuple3 = (1, 2, 3), (4, 5)  # 튜플 생성 방법3
tuple3

((1, 2, 3), (4, 5))

In [4]:
print(type(tuple1))         # 데이터 타입 확인
print(type(tuple2))
print(type(tuple3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

#### 2.2 1개 인자 튜플 생성

In [5]:
not_tuple5 = (1)              # 잘못된 튜플 생성 방법1
not_tuple5

1

In [6]:
type(not_tuple5)              # 데이터 타입 확인

int

In [8]:
tuple5 = (1,)                 # 1개 인자 튜플 생성 방법
tuple5                        # 1개 인자 튜플 생성 시 콤마(,) 필요

(1,)

In [9]:
type(tuple5)                  # 데이터 타입 확인

tuple

In [10]:
not_tuple6 = 1                # 잘못된 튜플 생성 방법2
not_tuple6

1

In [11]:
type(not_tuple6)              # 데이터 타입 확인

int

In [12]:
tuple6 = 1,                   # 1개 인자 튜플 생성 방법2
tuple6                        # 1개 인자 튜플 생성 시 콤마(,) 필요

(1,)

In [13]:
type(tuple6)                  # 데이터 타입 확인

tuple

#### 2.3 튜플 다루기

In [14]:
tuple7 = ('a', 'a', 'a', 'b', 'b', 'b', 'c', 'd', 'd')      # 튜플 생성
tuple7

('a', 'a', 'a', 'b', 'b', 'b', 'c', 'd', 'd')

In [15]:
tuple7[1] = 'e'                                            # 튜플 요소값을 변경하려 할 때 - 에러

TypeError: 'tuple' object does not support item assignment

In [16]:
del tuple7[1]                                             # 튜플 요소값을 삭제하려 할 때 - 에러

TypeError: 'tuple' object doesn't support item deletion

In [17]:
tuple7.index('d')

7

In [18]:
tuple7.count('d')

2

In [19]:
tuple8 = (1, 2, 'a', 'b')
tuple9 = (3, 4)
tuple8 + tuple9                                            # 튜플 더하기

(1, 2, 'a', 'b', 3, 4)

In [20]:
tuple9 * 3                                                # 튜플 곱하기

(3, 4, 3, 4, 3, 4)

In [21]:
len(tuple8)                                               # 튜플 길이

4

### 3. 집합(Set)

#### 3.1 집합 생성하기

In [35]:
set1 = {1, 2, 3}
set1a = {1, 2, 3, 3}
print(set1)
print(set1a)

{1, 2, 3}
{1, 2, 3}

In [36]:
print(type(set1))
print(type(set1a))

<class 'set'>
<class 'set'>

#### 3.2 집합 다루기

In [37]:
A = {1, 2, 3, 4, 5}                          # 집합 생성
B = {4, 5, 6, 7, 8, 9, 10}

In [38]:
print(A.intersection(B))                   # 교집합
print(A & B)

{4, 5}
{4, 5}

In [39]:
print(A.union(B))                          # 합집합
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [40]:
print(A.difference(B))                     # 차집합
print(A - B)

{1, 2, 3}
{1, 2, 3}

In [41]:
print(A.symmetric_difference(B))           # 대칭 차집합
print(A^B)

{1, 2, 3, 6, 7, 8, 9, 10}
{1, 2, 3, 6, 7, 8, 9, 10}

In [42]:
A.add(10)                                  # 값 1개 추가
A

{1, 2, 3, 4, 5, 10}

In [43]:
A.update([11, 15, 16])                     # 값 여러개 추가
A

{1, 2, 3, 4, 5, 10, 11, 15, 16}

In [44]:
A.remove(10)                               # 특정 값 제거
A

{1, 2, 3, 4, 5, 11, 15, 16}

### 4. 딕셔너리(Dictionary)

#### 4.1 딕셔너리 생성하기

In [62]:
country_capital = {"영국" : "런던", "호주" : "멜버른", "덴마크" : "코펜하겐"}
country_capital

{'영국': '런던', '호주': '멜버른', '덴마크': '코펜하겐'}

In [46]:
type(country_capital)                      # 데이터 타입 확인

dict

In [47]:
country_capital["영국"]                    # 데이터 값 확인

'런던'

#### 4.2 딕셔너리 다루기

In [48]:
country_capital["독일"] = "베를린"                          # 딕셔너리 데이터 추가
country_capital

{'영국': '런던', '호주': '멜버른', '덴마크': '코펜하겐', '독일': '베를린'}

In [49]:
country_capital["호주"] = "캔버라"                          # 딕셔너리 데이터 변경
country_capital

{'영국': '런던', '호주': '캔버라', '덴마크': '코펜하겐', '독일': '베를린'}

In [50]:
del country_capital["덴마크"]                               # 딕셔너리 데이터 제거
country_capital

{'영국': '런던', '호주': '캔버라', '독일': '베를린'}

In [51]:
print(country_capital.keys())                               # 딕셔너리 키 출력

dict_keys(['영국', '호주', '독일'])

In [52]:
print(country_capital.values())                             # 딕셔너리 값 출력

dict_values(['런던', '캔버라', '베를린'])

In [53]:
country_capital.items()                                     # 딕셔너리 키, 값 쌍 출력

dict_items([('영국', '런던'), ('호주', '캔버라'), ('독일', '베를린')])

In [63]:
print(list(country_capital.keys()))                        # 결과를 list로 받고 싶을때
print(list(country_capital.values()))

['영국', '호주', '덴마크']
['런던', '멜버른', '코펜하겐']

In [66]:
for k in country_capital.keys():                          # 딕셔너리 활용
    print(k + " : " + country_capital.get(k))

영국 : 런던
호주 : 멜버른
덴마크 : 코펜하겐

* get(x) 함수는 x라는 Key에 대응되는 Value를 돌려줌 
  --> a.get('name')은 a['name']을 사용했을 때와 동일한 결과값을 돌려받음

* 다만 a['nokey']처럼 존재하지 않는 키(nokey)로 값을 가져오려고 할 경우
  --> a['nokey']는 Key 오류를 발생시키고 a.get('nokey')는 None을 돌려준다는 차이가 있음

In [67]:
print(country_capital.get('일본'))

None

In [68]:
print(country_capital['일본'])

KeyError: '일본'

In [54]:
country_capital_add = {"한국" : "서울", "미국" : "뉴욕"}  # 새로운 딕셔너리 생성

In [55]:
country_capital.update(country_capital_add)    # 기존 딕셔너리에 새로운 딕셔너리 추가
country_capital

{'영국': '런던', '호주': '캔버라', '독일': '베를린', '한국': '서울', '미국': '뉴욕'}

In [56]:
country_capital.clear()                        #  딕셔너리 모든 항목 삭제
print(country_capital)
type(country_capital)

{}

dict

* 딕셔너리 만들때 주의사항
    - Key는 고유한 값이므로 중복되는 Key 값을 설정해 놓으면 하나를 제외한 나머지 것들이 모두 무시
    - Key에 리스트는 쓸 수 없음, 하지만 튜플은 Key로 쓸 수 있음

In [57]:
a = {1:'a', 1:'b'}
a

{1: 'b'}

In [58]:
a = {[1,2] : 'hi'}

TypeError: unhashable type: 'list'

In [60]:
a = {(1,2) : 'hi'}
a

{(1, 2): 'hi'}

### C. 변수

In [1]:
# = (assignment, 할당자)
a = 1
b = "python"
c = [1,2,3]

In [2]:
# 변수의 메모리 주소
id(a)

140723747126336

In [3]:
# 리스트 복사시 주의
a = [1, 2, 3]
b = a
print(id(a))
print(id(b))

2394364173768
2394364173768

In [4]:
a is b

True

In [6]:
a[1] = 4
a

[1, 4, 3]

In [7]:
b

[1, 4, 3]

In [8]:
# 리스트 복사시 [:] 이용
a = [1, 2, 3]
b = a[:]
print(id(a))
print(id(b))

2394364154440
2394364155528

In [9]:
a[1] = 4
a

[1, 4, 3]

In [10]:
b

[1, 2, 3]

In [11]:
# copy 모듈 이용
from copy import copy

In [12]:
b = copy(a)

In [13]:
b is a

False

In [14]:
# 다양한 변수 만드는 방법
a, b = ('python', 'life')
(a, b) = 'python', 'life'
[a,b] = ['python', 'life']
a = b = 'python'

In [16]:
# 두 변수의 값을 아주 간단히 바꿀 수 있음
a = 3
b = 5
a, b = b, a
print(a)
print(b)

5
3

In [17]:
# 참고: http://pythontutor.com/live.html
a = [1,2,3]

b = a

a[1] = 4

c = a[:]

c[2] = 3